*{
margin: 0;
padding: 0;
box-sizing: border-box;
list-style: none;
tex
}
body{
    width: 100%;
    height: 100%;
    background-color: azure;
}
.main-menu{
   
    position: sticky;
    top: 0;
    width: 50%;
   height: 70%;
    background-color: cornflowerblue;
    margin: 0 auto;
    border-radius: 50px;
}

.box-image{
    width: 100%;
    display: flex;
}


.box-image h1{
    color: white;
    background-color:cadetblue ;
      font-family: 'Courier New', Courier, monospace;
      font-size: 80px;
      text-align: center;
}
   
.main-nav{
    margin-top: 50%;
    width: 100%;
    height: 100px;
    background-color: mediumspringgreen
    
   
}

ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;

}
.top-menu li{
    width: 400px;
    background-color: lightcoral;
    border-radius: 30px;
    padding: 10px;
}


.top-menu li a{
    color: yellow;
    text-decoration: none;
    font-size: 40px;
       
}

.top-menu li a:hover{
    color: whitesmoke;
}

.face{
width: 100%;
font-size: 100px;
font-family: Arial, Helvetica, sans-serif;
font-weight: 200;
border: 2px solid violet;
border-radius: 20px;
text-align: center;

}

#header{
    font-weight: 200;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 50px;
}
    
